// footer
footer{
    padding-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
    .footerNav{
        a{
            color:white;
            padding: 10px 30px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .IconNav{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 15px;
        img{
            height:100%
        }
    }
}